.about-main {
  position: relative;
  margin: auto;
  margin-top: 90px;
  padding-top: 50px;
  width: 85%;
}

.about-img-container {
  position: relative;
  box-sizing: border-box;
  width: 60%;
  margin: auto;
}

.about-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.about-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.about-img-text {
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 60px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  z-index: 3;
}

.about-p {
  font-size: 28px;
  line-height: 1.5;
  margin: 30px 50px 50px 50px;
}

.about-h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.about-h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.about-card-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.about-card {
  position: relative;
  padding: 10px;
  width: 33.333%;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.about-ul {
  width: 100%;
  box-sizing: border-box;
  list-style-type: disc;
  padding: 20px;
}

.about-ul > li {
  font-size: 20px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1100px) {
  .about-img-container {
    width: 90%;
  }

  .about-card {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .about-main: {
    width: 90%;
  }

  .about-h2 {
    font-size: 40px;
  }

  .about-h3 {
    font-size: 28px;
  }

  .about-p {
    font-size: 24px;
    margin: 30px 30px 50px 30px;
  }

  .about-card-container {
    justify-content: center;
  }

  .about-card {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .about-img-container {
    width: 100%;
  }

  .about-img-text {
    font-size: 40px;
    height: 40px;
  }

  .about-h2 {
    font-size: 30px;
  }

  .about-h3 {
    font-size: 24px;
  }

  .about-p {
    font-size: 20px;
    margin: 20px 0 0 0;
  }

  .about-ul {
    padding: 0 10px 0 20px;
  }

  .about-card {
    width: 100%;
  }
}
